# Temp files
.DS_Store
*~
buck-out/

# Compiled files
venv/
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/
/.coverage*

# docs
/docs/generated/
/docs/_build/

# PyCharm
.idea/

# test-time
pre-deps.txt

# test datasets
*.zarr
*.h5ad
*.vcf.gz
*.log
*.pvar
*.pgen
*.psam
*.tbi
